.container {
  max-width: 960px;
}

.button {
	background-color: white;
	font-weight: bold;
	border: 0.1em solid gray;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	width: 60px;
}

.button:hover {
	background-color: lightskyblue;
}

.page_title_name {
	font-weight: bold;
}

.text_box_main {
	margin: 5px;
	padding: 12px;
	border: 0.1em solid gray;
	border-radius: 5px;
	resize: none;
	width: 200px;
}