<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<!-- 서블릿으로 사용할 클래스 등록
		  서블릿과 url 맵핑
	 -->
	<servlet>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>com.sist.feb.member.controller.MemberController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>/member.do</url-pattern>
	</servlet-mapping>
	
</web-app>









